.centeringDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em black;
  font-size: xx-large;
}

.textSmaller {
  font-size: large;
}
