
.mapContainer {
    position: relative;
    width: 10em;
    height: 10em;
    overflow: hidden;
    border: blue 1px solid;  /* FIXME remove border */
}

.mapOverlay {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
}

.mapImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapDot {
    position: absolute;
}

.mapDot {
    width: 2em;
    aspect-ratio: 1;
}
