
.mapContainer {
    position: relative;
    width: 10em;
    height: 10em;
    overflow: hidden;
    border: blue 1px solid;  /* FIXME remove border */
}

.mapImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapDot {
    position: absolute;
}

.mapDot {
    width: 2em;

}
