.outerContainer {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}


/* Style for the container of the input and button */
.inputHolder {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80vw;
    max-width: 150mm;
}

/* Style for the text input */
.nameInput {
    border: 1mm solid white;
    border-radius: 12mm;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    width: 100%;
    height: 24mm;
    font-size: larger;
    color: white;
    padding: 0 10mm;
}

/* Style for the circular button */
.nameButton {
    position: absolute;
    top: 50%;
    right: 3mm;
    /* Adjust the distance from the input's right edge */
    transform: translateY(-50%);
    width: 18mm;
    /* Adjust the size of the button */
    height: 18mm;
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    font-size: 16mm;
}


.nameButton img {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-55%) translateY(-50%);
}
