.tickerview {
    /* background: rgba(0, 0, 0, 0.5); */
    /* width: 50%; */
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000;
    font-weight: bold;
    padding: 0.1em 1em;
    line-height: 1em;
    /* border-radius: 10px; */
}

.tickerview p,
.tickerview span,
.tickerview li {
    font-family: inherit;
}

.tickerview li {
    padding: 0.25em 0;
}